*{
	margin: 0px;
	padding: 0px
	
}
body{
	background: url(Images/fondologin.jpg);
}
#cuadro{
	width:330px;
	background: #090909;
	color: #ffffff;
	margin: auto;
	padding: 5px 5px 10px 5px;
	border-top: 15px solid #090909;
	border-bot: 15px solid #090909;
	border-right: 35px solid #090909;
	border-left: 35px solid #090909;
	border-radius: 6px;
	font-size: 15px;
}
.entrada{
	width:320px;
	height: 35px;
	border-radius:6px;
	font-family: verdana;
	font-weight:1200;
	
}
#boton{
	width:324px;
	height:45px;
	border-radius:6px;
	background:blue;
	color:white;
	font-size: 30px;
}
#titulo{
	font-size:30px;
	font-family: fantasy;
}
#subtitulo1{
	padding-left:80px;
}
subtitulo2{
	padding-left:107px;
}
