*{
	margin: 0px;
	padding: 0px
}

form{
	text-align: center;	
	display: block;
}


#contenedor{
	font: verdana;
	font-size: 12pt;
}

.boton{
	display:inline-block;
	width:10em;
	height:45px;
	border-radius:6px;
	background:blue;
	color:white;
	font-size: 15px;
	text-align:center;
}

#botones{
	width:70em;
	display:inline-block;
	margin-left: 10em;
	position: fixed;
	z-index:1;
}

#formularios{
	width:30em;
	margin-left: 25em;
	position: relative;
	top:2em;
	left:10em;
}

#insert{
	visibility:hidden;
	position: absolute;
	top:1em;
}

#listaCarrera{
	visibility:hidden;
	position: absolute;
	top:1em;
}

.campos{
	float:left;
}

.space{
	float:left;
	top:2em;
	width: 10em;
	height:3em;

}

#botonCarrera{
	float: center;
	margin-top:auto;
	position:relative;
	margin-left:15em;
}

#busca{
	width:10em;
	border-radius:6px;
	background:blue;
	color:white;
	font-size: 15px;
}

#listaCorredor{
	visibility:hidden;
	position: absolute;
	top:1em;
}

#logEditar{
	visibility:hidden;
	position: absolute;
	top:1em;
}

#editar{
	visibility:hidden;
	position: absolute;
	top:1em;
}

#eliminar{
	visibility:hidden;
	position: absolute;
	top:1em;
}

#peliminar{
	text-align: center;
}