
button{
	margin-left: 5%;
	margin-top: 3%;
	padding: 1% 2%;
}

#botones{
	width:55%;
	display:inline-block;
	margin-left: 25%;
	position: fixed;
	background-color:red;
}

#insert{
	text-align: center;
	visibility: hidden;
	float: left;
	margin-top:10%;
	margin-left:43%;
}

#listaCarrera{
	background-color:green;
	visibility: hidden;
	text-align: center;
	float: left;
	margin-left:43%;
}

#listaCorredor{
	color:orange;
	visibility: hidden;
}

#editar{
	width:40%;

	
	margin-left:25%;
	visibility: hidden;
}

#eliminar{
	color: pink;
	visibility: hidden;
}